// Specific CSS for your home-page
body {
  background-color: #402845!important;
  font-family: 'Montserrat', sans-serif!important;
}

.container {
  color: #fff;
  padding: 40px;
}

h1 {
  font-size: 140px!important;
  font-family: 'Rubik 80s Fade', cursive;
  text-shadow:  0 0 10px #100f0f, 0 0 20px #fff, 0 0 30px #040404
}

h2 {
  font-size: 60px!important;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  font-family: 'Montserrat', sans-serif!important;
}

.didry {
  text-align: right;
}

p, span{
  font-size: 30px;
  text-align: center;
  padding: 10px;
  font-family: 'Montserrat', sans-serif!important;
}

.hard-skills {
  display: flex;
  justify-content: space-evenly;

}

.logo {
  width: 120px!important;
  transition: cubic-bezier(0,.91,1,-0.01), .8s;
}

.logo:hover {
  transform: scale(1.5);
  transition: cubic-bezier(0,.91,1,-0.01), 1.5s;
}

.savoir-faire {
  text-align: center!important;
  padding: 10px;
}

.folio-img {
  width: 35%;
  border-radius: 50%;
}

.background {
  background-image: url('idee-front-site-2.jpg')!important;
  background-repeat: no-repeat center center fixed;
  background-size:cover;
  background-attachment: fixed;
  color: white!important;
}

.sticky-wrapper {
  position: relative;
  z-index: 1;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 0;
}



hr.solid {
  border-top: 3px solid #fff;
  padding-top: 5vh;
  padding-bottom: 5vh;
}


