.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;

}

.navbar-lewagon .navbar-brand img {
  width: 40px;

}

.navbar {
  background-color: transparent;
  position: sticky!important;
  border-bottom: 1px solid #c1c0c0;
  top: 0;
  z-index: 99999;

}

.nav-link {
  color: #ffffff!important;
  gap: 20px!important;
  font-size: 1.2rem;
}

.navbar {
  mix-blend-mode: difference;
}
